*.iml
.gradle
/local.properties
.idea/*
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
/.idea/vcs.xml
.DS_Store
/build
/captures

/volley/local.properties
/volley/.idea/workspace.xml

/volley/.idea/libraries
/volley/build
/volley/captures

/uikit/local.properties
/uikit/.idea/workspace.xml

/uikit/.idea/libraries
/uikit/build
/uikit/captures
